/*
#040F0F - black
#FFFFF0 - white
#BEBFC4 - silver
#183C28 - green
#EEC643 - gold
#FF4242 - red
#95D2EC - blue
*/
body {
    display: flex;
    flex-wrap: wrap;

    width: 1280px;
    height: 720px;

    align-items: center;
    justify-content: center;

    background: #040F0F;
    color: #FFFFF0;
    border: 1px solid #BEBFC4;
    border-radius: 5px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    width: 100%;
    height: 40px;

    text-align: center;
}

main {
    
}


.grid {
    display: grid;

    grid-template-columns: repeat(10, 1fr);
    
    border: 1px solid grey;
    border-radius: 10px;

}

.grid > div > div {
    /* background: url(assets/ocean.gif) 0 32px; */
    
    background-color: grey;
    color: black;

    border-radius: 10px;

    width: 50px;
    height: 50px;
}

.grid > div > div:hover {
    opacity: .75;
}

.one > div {
    background: white;
}

footer {
    display: block;
    width: 100%;

    text-align: center;
}