/*
#040F0F - black
#FFFFF0 - white
#BEBFC4 - silver
#183C28 - green
#EEC643 - gold
#FF4242 - red
#95D2EC - blue
*/
body {
    display: flex;
    flex-wrap: wrap;

    width: 1280px;
    height: 720px;

    align-items: center;
    justify-content: center;

    background: #040F0F;
    color: #FFFFF0;
    border: 1px solid #BEBFC4;
    border-radius: 5px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    width: 100%;
    height: 40px;

    text-align: center;
}

.main_top {
    display: flex;
}

.label_horz {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
}

.label_horz > div {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #040F0F;
    color: white;

    width: 48px;
    height: 48px;
}

.label_vert {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
}

.main_bot {
    display: flex;
}

.label_vert > div {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #040F0F;
    color: white;

    width: 48px;
    height: 48px;
}

.grid {
    display: grid;

    grid-template-columns: repeat(10, 1fr);
    
    border: 1px solid white;
    border-radius: 5px;

}

.grid > div > div {
    background: url(assets/Ocean_SpriteSheet.png);
    background-size: 128px;
    background-color: grey;
    color: black;

    width: 48px;
    height: 48px;
}

.grid > div > div:hover {
    opacity: .75;
}

.status {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    margin: 0 10px 0 10px;

    width: 300px;
}

.arrows {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 104px;

}

.mid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 100px;
}

.mid > div {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 48px;
    width: 100px;
}

#status_text {
    padding: 10px;
    width: 300px;
    height: 336px;
    border: 1px solid white;
    margin: 1px;
    border-radius: 5px;
}

footer {
    display: block;
    width: 100%;

    text-align: center;
}

#up, #down, #left, #right {
    border: 1px solid white;
    border-radius: 5px;
    margin: 1px;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#up:hover, #down:hover, #left:hover, #right:hover {
    opacity: 0.75;
}