/*
#040F0F - black
#FFFFF0 - white
#BEBFC4 - silver
#183C28 - green
#EEC643 - gold
#FF4242 - red
#95D2EC - blue
*/

body {
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;

    background: #040F0F;
    color: #FFFFF0;
    border-radius: 5px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

header {
    height: 50px;
    width: 100%;
    background: #212121;
    margin: 0 0 25px 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 900px;
    min-height: 720px;

    background: rgba(61, 61, 61, 0.75);
    border: 1px solid #EEC643;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
    background: url('background.png');
    background-repeat: no-repeat;
    background-position: 50% 95%;
}

.introPage {
    width: 720px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.one, .two {
    margin: 0 0 15px 0;

    display: flex;
    flex-wrap: wrap;
    
    justify-content: flex-start;
    align-content: flex-start;
}

#ocean, #target {
    width: 100%;
    padding: 25px 0 10px 0;
    text-align: center;

    color: #EEC643;
}

.main_top, .main_bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}

#blank {
    width: 320px;
}

.label_horz {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
}

.label_horz > div {
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;

    width: 48px;
    height: 48px;
}

.label_vert {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
}

.main_bot {
    display: flex;
}

.label_vert > div {
    display: flex;

    color: white;

    width: 48px;
    height: 48px;
}

.grid, .grid_bottom {
    display: grid;
    justify-items: center;
    align-items: center;

    grid-template-columns: repeat(10, 1fr);
    
    border: 1px solid white;
    border-radius: 5px;
    font-size: 50px;
}

.grid > div > div, .grid_bottom > div > div {
    background: url(assets/Ocean_SpriteSheet.png);
    background-size: 128px;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 48px;
    height: 48px;
}

.grid > div > div:hover, .grid_bottom > div > div:hover {
    opacity: .75;
}

.status {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    margin: 0 10px 0 10px;

    width: 300px;
}

.arrows {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 104px;

}

.mid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 100px;
}

.mid > div {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 48px;
    width: 100px;
}

#status_text {
    padding: 10px;
    width: 300px;
    height: 336px;
    border: 1px solid white;
    margin: 1px;
    border-radius: 5px;
}

footer {
    display: block;
    width: 100%;

    text-align: center;
}

#up, #down, #left, #right {
    border: 1px solid white;
    border-radius: 5px;
    margin: 1px;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#up:hover, #down:hover, #left:hover, #right:hover {
    background: grey;
}

#status_text_bottom {
    padding: 10px;
    width: 300px;
    height: 366px;
    border: 1px solid white;
    margin: 1px;
    border-radius: 5px;
}

.win {
    display: flex;
    flex-direction: column;

}

.button {
    border: 1px solid black;
    border-radius: 0;
    background-color: #3D3D3D;
    color: white;
    margin: 5px 0 0 0;
}

footer {
    font-size: 10px;
    color: #EEC643;
    margin: 10px 0 0 0;
}